body {
  font-family: "Roboto", sans-serif;
}

.header-logo {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
